.header-container {
    font-size: x-large;
}

.container-fluid {
    padding: 10px;
}

body {
    background-color:lightgrey;
    padding: 20px;
    font-family: Arial;
}

.main {
    max-width: 100%;
    margin: auto;
  }